.tab {
    overflow: hidden;
    border: 1px solid #3498DB;
    background-color: #3498DB;
}


.tab button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #1B4F72;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#tooltip {
    background-color: ghostwhite;
    color: #3498DB;
}